@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #bc57ba 0%, #2b1353 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 25px;
  max-width: 345px;
}

.image {
  margin-bottom: 26px;
}

.title {
  font-size: 30px;
  font-weight: 700;
  font-family: var(--font-roboto);
}

.description {
  margin-top: 6px;
  font-size: 20px;
  font-weight: 400;
  font-family: var(--font-roboto);
}

.skills {
  width: 90%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
  list-style: none;
}

.skill {
  font-size: 20px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 20px;
  font-family: var(--font-roboto);
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
  font-family: var(--font-roboto);
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 25px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 20px;
}